.Welcome.hidden {
  animation: disappear 1s forwards;
}
.Welcome {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-color);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Welcome .modal {
  width: 400px;
  padding: 60px 80px 50px 80px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 15px 35px rgba(0,0,0,.3);
  box-sizing: border-box;
}
.Welcome h2 {
  font-size: 40px;
  font-weight: 300;
  color: #888;
}
.Welcome h2 span {
  font-weight: 600;
  color: #444;
}
.Welcome .error {
  font-size: 12px;
  font-weight: 600;
  color: red;
  margin-bottom: 5px;
  display: inline-block;
}
.Welcome p {
  font-size: 13px;
}
.Welcome .info p {
  margin-top: 15px;
}
.Welcome form {
  margin-top: 15px;
}
.Welcome form input {
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  color: #444;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(127,127,127,.2);
  transition: border .25s ease-in;
}
.Welcome form input:focus {
  border-bottom: 1px solid var(--primary-color);
}
.Welcome form input.invalid {
  border-bottom: 1px solid red;
}
.Welcome form button {
  width: 100%;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: box-shadow .2s ease-in;
  cursor: pointer;
}
.Welcome form button:active,
.Welcome form button:focus {
  outline: none;
  box-shadow: 0 0 2px var(--primary-color);
}
.Welcome .redirect {
  display: inline-block;
  font-size: 12px;
  text-align: right;
  margin-top: 15px;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  .Welcome .modal {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Welcome form input {
    width: 100%;
  }
}