.App {
  width: 900px;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  display: flex;
  box-shadow: 0 0 25px rgba(0,0,0,.25);
}

.WebRTC {
  width: 900px;
  height: 700px;
  position: relative;
  background: white;
}
.WebRTC video {
  position: absolute;
  z-index: 999999;
}

/* RESPONSIVE WIDTHS */
@media only screen and (max-width: 1000px) {
  .App {
    width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .App {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
@media only screen and (max-width: 350px) {

}

/* RESPONSIVE HEIGHTS */
@media only screen and (max-height: 600px) {
  .App {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-height: 1000px) {
  .App {
    height: 800px;
  }
}