
/* ---------------------------------------------------
    CSS VARIABLES
--------------------------------------------------- */
:root {
  --primary-color: #06CACB;
}

/* ---------------------------------------------------
    BASE STYLES
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    user-select: none;
}

body {
  font-family: "Lato", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(225deg,
    var(--primary-color) 0%, var(--primary-color) 30%,
    #DDE5EE 30%, #DDE5EE 75%,
    #F5F7FA 75%, #F5F7FA 100%
  );
  overflow-y: hidden;
}

input {
  border: none;
}
input:focus {
  outline: none;
  border-bottom: none;
}

/* FIXES WEIRD SAFARI GLITCH */
input { -webkit-user-select: text; }


@media only screen and (max-width: 700px) {
  body {
    background-image: none;
  }
}